{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card bg-secondary text-white">
        <div class="card-body">
            <h3 class="border-bottom mb-4">Reset Password</h3>
            <p>Enter your email address to get a password reset link.</p>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group mt-4">
                    <button class="btn btn-primary" type="submit">Request Password Reset</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}