{% extends 'shop/base.html' %}

{% block title %}Update {{ product.name }}{% endblock %}

{% block content %}
    <div class="card bg-secondary text-white">
        <div class="card-body">
            <h1 class="card-title mb-4">Update Product: {{ product.name }}</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info mt-3">Update Product</button>
            </form>
        </div>
    </div>
{% endblock %}